@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&family=Quicksand:wght@300;400;500;600;700&display=swap');


:root{
  --color-main: #023653CC;
  --color-secondary:#EF801A;
  --bg-ciel:#C3E4E933;
  --btn-main:#056C89;
  --btn-hover: #DDE8CF;
}

.bg__main{
  background-color: var(--color-main);
}

.text__secondary{
  color: var(--color-secondary);
}

.text__main{
  color: var(--color-main);
}

body{
  color: var(--color-main);
  font-weight: 300;
  font-family: 'Manrope', sans-serif;
  font-size: 1.15rem;
}

.bg__ciel{
  background-color: var(--bg-ciel);
}

header{
  background-color:#056C89;
  position: fixed;
  top: 0;
  width: 100%;
  height: 10vh;
  z-index: 999;
}

header a{color: white;}
a:hover{color: var(--color-secondary);}

.main__btn{
  padding: .5rem 2rem;
  border-radius: 20px;
  border: none;
  background-color: white;
  transition: all ease-in-out .3s;
  cursor: pointer;
  font-size: 1.05rem;
}

.main__btn:hover{
  background-color: var(--color-secondary);
  color: white;
}

.main__website{
  padding-top: 10vh;
}

.hero{
  background: url("/hero.jpeg") no-repeat;
  background-size: cover;
  width: 100%;
  height: 90vh;
  padding-inline: 10%;
  position: relative;
  isolation: isolate;
  
}

.pi-10{
  padding-inline: 10%;
}

.hero::after{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, #023753, #ef811a8f);
  /* opacity: .8; */
  z-index: -1;
}

.hero h1{
  font-size: 3.5rem;
  color: var(--color-secondary);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.welcome__img{
  width: 7rem;
}

.padded__section{
  padding: 10rem 0;
}

.main__title{
  font-size: 2.5rem;
  font-weight: 600;
  margin-bottom: 2rem;
}

.what__section img{
  width: 75%;
  transform: translate(3rem, 3rem);
  border-radius: 10px;
}

.what__section .container__left::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 75%;
  height: 100%;
  background: linear-gradient(to right, #023753, #ef811a8f);
  z-index: -1;
  border-radius: 15px;
}

.dotted__line{
  border-bottom: 2px dashed var(--color-secondary);
}

.card__icon{
  width: 2rem;
}

.bg__main{
  background-color: var(--color-main);
  color: white;
}

.footer__top li{
  opacity: 0.5;
}

.socials img{
  width: 2rem;
}

.about__hero{
  height: 75vh;
}

.about__hero--cta{
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 5rem);
}

.btn__yellow{
  background-color: var(--color-secondary);
  color: white;
}

.text-yellow{
  color: var(--color-secondary);
}

.btn__yellow:hover{
  background-color: var(--color-main);
}
.form__group{
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.form__group input,
.form__group textarea,
.form__group select{
  padding: .75rem;
  border: 2px solid rgba(128, 128, 128, 0.381);
}

.form__row{
  width: 100%;
}

form a{
  color: var(--color-secondary);
}

.login__left{
  height: 80vh;
}

.app__sidebar li a{
  padding: .75rem 1rem;
}

.app__sidebar li a i{
  width: 3rem;
}

.app__sidebar li a.active{
  background-color: white;
  border-radius: 10px;
  color: var(--color-main);
}

.app__header{
  height: 10vh;
  position: fixed;
  width: 80%;
  background-color: white;
  border: 1px solid re;
}

.app__padding{
  padding-top: calc(10vh + 3rem);
  padding-inline: 5rem;
  padding-bottom: 5rem;
  height: 100vh;
  overflow-y: auto;
  
}

.user__avatar{
  width: 4rem;
  height: 4rem;
}

.app__section__title{
  color: var(--color-main);
  padding-bottom: 1.5rem;
  position: relative;
  font-size: 24px;
}

.app__section__title::after{
  content: "";
  width: 150%;
  border: 1px solid var(--color-secondary);
  position: absolute;
  bottom: 0;
  left: 0;
  opacity: .25;
}

.dashboard__page .event__card *,
.opportunities__page .event__card *{
  font-size: 90%;
}

.dashboard__page .event__card,
.opportunities__page .event__card{
  width: 20rem;
}

.dashboard__page .event__card .event__img,
.opps__list .event__card .event__img{
  height: 10rem;
}

.dashboard__page .event__card .event__img img,
.opps__list .event__card .event__img img{
  height: 100%;
  object-fit: cover;
}

.dashboard__page .event__card .px-2{
  padding-inline: 1rem;
}

.quick__actions a{
  padding: 1rem 3rem;
  border: 1px solid rgba(128, 128, 128, 0.303);
  border-radius: 5px;
  color: #023753ac;
}

.quick__actions a:hover{
  background-color: var(--color-secondary);
  color: white;
}

.table__header{
  padding: 1rem;
  background-color: gray;
  color: white;
}

.table__body .row:nth-of-type(2n){
  background-color:#056c8931;
}

.table__body .row{
  padding: 0.75rem 1rem;
}

.view__event--label{
  width: 10rem;
}

.label__error{
  background-color: rgba(255, 0, 0, 0.13);
  color: red;
  padding: .5rem 1rem;
  border-radius: 5px;
}

.label__success{
  background-color: rgba(0, 255, 0, 0.13);
  color: green;
  padding: .5rem 1rem;
  border-radius: 5px;

}

.small__loader {
  display: block;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  position: relative;
  animation: rotate 1s linear infinite
}
.small__loader::before , .small__loader::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  inset: 0px;
  border-radius: 50%;
  border: 5px solid #EF801A;
  animation: prixClipFix 2s linear infinite ;
}
.small__loader::after{
  transform: rotate3d(90, 90, 0, 180deg );
  border-color: var(--color-main);
}

@keyframes rotate {
  0%   {transform: rotate(0deg)}
  100%   {transform: rotate(360deg)}
}

@keyframes prixClipFix {
    0%   {clip-path:polygon(50% 50%,0 0,0 0,0 0,0 0,0 0)}
    50%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 0,100% 0,100% 0)}
    75%, 100%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,100% 100%,100% 100%)}
}

.register__action .small__loader{
  position: absolute;
  right: -5rem;
  top: 50%;
  transform: translateY(-50%);
}

.event__card .small__loader{
  right: 0;
}

.main__app--loader .small__loader{
  display: block;
  width: 5rem;
  height: 5rem;
}

.btn__logout{
  background-color: rgb(82, 5, 5);
  border: none;
  padding: .5rem 2rem;
  color: white;
  border-radius: 5px;
}

.app__header{
  z-index: 999;
}

.table__loader{
  border: 1px solid rgba(128, 128, 128, 0.233);
}

.table__img{
  width: 3rem;
}

.table__action{
  width: 5rem;
}

.desc__img{
  width: 20rem;
}

.joined__label{
  background-color: rgba(0, 255, 0, 0.13);
  color: green;
  padding: .5rem 1rem;
  border-radius: 5px;
  font-weight: 900;
}

.home__events .event__card{
  width: 30rem;
  height: auto;
}

.home__events{
  align-items: stretch !important;
}

.underline{
  text-decoration: underline;
}

.delete__icon .small__loader{
  scale: .75;
}

.event__img {
  height: 15rem;
  overflow: hidden;
}

header input[type="checkbox"]:checked ~ #sidebarMenu {
  transform: translateX(0);
}

header input[type=checkbox] {
  transition: all 0.3s;
  box-sizing: border-box;
  display: none;
}
.sidebarIconToggle {
  transition: all 0.3s;
  box-sizing: border-box;
  cursor: pointer;
  position: absolute;
  z-index: 99;
  height: 100%;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 22px;
  width: 22px;
}
.spinner {
  transition: all 0.3s;
  box-sizing: border-box;
  position: absolute;
  height: 3px;
  width: 100%;
  background-color: #fff;
}
.horizontal {
  transition: all 0.3s;
  box-sizing: border-box;
  position: relative;
  float: left;
  margin-top: 3px;
}
.diagonal.part-1 {
  position: relative;
  transition: all 0.3s;
  box-sizing: border-box;
  float: left;
}
.diagonal.part-2 {
  transition: all 0.3s;
  box-sizing: border-box;
  position: relative;
  float: left;
  margin-top: 3px;
}
header input[type=checkbox]:checked ~ .sidebarIconToggle > .horizontal {
  transition: all 0.3s;
  box-sizing: border-box;
  opacity: 0;
}
header input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-1 {
  transition: all 0.3s;
  box-sizing: border-box;
  transform: rotate(135deg);
  margin-top: 8px;
}
header input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-2 {
  transition: all 0.3s;
  box-sizing: border-box;
  transform: rotate(-135deg);
  margin-top: -9px;
}


.app__toggle,
.close__sidebar{
  display: none;
}

.section__opportunities{
  background: url("/hero.jpeg");
  isolation: isolate;
}

.section__opportunities::after{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: .8;
  z-index: -1;
  background-color: #056c89d7;
}

.opp__repeated{
  width: 25rem;
  max-width: 100%;
}

.stat__icon{
  width: 6rem;
  height: 6rem;
  background-color: #FD805A;
}

.story__repeated{
  width: 30%;
}

.team__member img,
.story__repeated img{
  width: 7rem;
  height: 7rem;
}


.story__repeated img{
  position: absolute;
  left: 50%;
  top: -3.5rem;
  transform: translateX(-50%);

}

q:before,
q:after{
  font-size: 3rem;
  font-weight: 900;
  color: var(--color-secondary);
  position: absolute;
}

q:before{
  left: 0;
  top: 2rem;
}

.value img{
  width: 2rem;
}

.member__name::after{
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: var(--color-main);
}

.contact__form{
  width: 35rem;
  max-width: 100%;
  margin-inline: auto;
}